/* formatção do plano de fundo na classe do body */
.mubg {
      background-image: url('./../img/fundo.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 155% auto;
      background-position-y: -6vw;
      background-position: center;
      background-position-y: -500px;
}




  




